@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Book>;

<h1>A list of all the books in the library</h1>

@if (@Model.Count == 0)
{
  <p>The library currently has no books.</p>
}

@foreach (Book book in Model)
{
  string htmlString = book.Name;
  if (book.JoinEntitiesAuthor.Count > 0)
  {
    if (book.JoinEntitiesAuthor.Count == 1)
    {
      htmlString += $"   By: {book.JoinEntitiesAuthor.First().Author.Name}";
    }
    else
    {
      htmlString+= "   By: ";
      foreach(AuthorBook join in book.JoinEntitiesAuthor)
      {
        htmlString += join.Author.Name + ", ";
      }
      htmlString = htmlString.Remove(htmlString.Length -2, 2);
    }
  }
  if (book.Description != "")
  {
    htmlString += $"   - {book.Description}";
  }

  <p>@htmlString</p>
}