@{
  Layout = "_Layout";
}

<h1>Welcome to the Library Portal!</h1>

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("View Books", "Index", "Books")</p>
  <p>@Html.ActionLink("View Authors", "Index", "Authors")</p>
  <p>@Html.ActionLink("View Patrons", "Index", "Patrons")</p>
}
else{
  <p>@Html.ActionLink("View Patron Index", "PatronIndex", "Books")</p>
}