@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h1>Add a new author</h1>

@using (Html.BeginForm("Create", "Authors", FormMethod.Post))
{
  <ul>
  <li>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@required = "required"})</li>
  </ul>
  <input type="submit", value="Add this author", class="btn btn-dark"/>
}